
@{
    ViewBag.Title = "Contact Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Form Result</h2>

<div>
    <p>Name: @ViewBag.Name</p>
    <p>Age: @ViewBag.Age</p>
    <p>Gender: @ViewBag.Gender</p>
    <p>Specialization: @ViewBag.Specialization</p>
    <p>Major: @ViewBag.Major</p>
</div>
